<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2>Courses</h2>

    <div class="search-bar float-right">
      <div class="form-group">
        <label class="control-label">Search</label>
        <input class="form-control" placeholder="Search courses here"
               [(ngModel)]="searchText" (keyup)="searchCourses()">
      </div>
    </div>
    <span class="clearfix"></span>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Duration</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of filtered">
          <th scope="row">{{course.id}}</th>
          <td>{{course.title}}</td>
          <td>{{course.duration}} {{course["duration-unit"]}}</td>
          <td>{{course.description}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
